@{
    ViewData["Title"] = "World";
}
@model Inventory

    <table>
        @foreach (var item in @Model.Items)
        {
        <tr>
            <td>@item.Item.ItemName</td><td><a asp-action="DeleteInventoryItem" asp-route-itemID="@item.InventoryItemID">remove Item</a></td>
        </tr>
        }
    </table>
    <a asp-action="AddInventoryItem">Add Random Item (test)</a>

