@{
    ViewData["Title"] = "Login Area";
}
@model IQueryable<Player>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul style="list-style: none">
        @foreach (var player in Model)
        {
            <li >
                <a asp-action="Index" asp-controller="World" asp-route-id="@player.PlayerID">@player.PlayerName</a>
                <a asp-action="DeletePlayer" asp-route-id="@player.PlayerID">Delete</a>
            </li>
        }
    </ul>
    <a asp-action="CreateNewPlayer">Create New Player</a>
</div>
